body {

}

.header-mobile {
  display: none;
}

.header-deskop {
  height: 64px;
  display: inline-flex;
  border: 1px solid black;
  width: 100%;
  background-color: white;
  color: grey;
}

.header-deskop span {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 5px;
}

.span-2 {
  color: grey;
}

.logo {
  display: flex;
  flex: 1;
  padding: 20px;
}

.header-deskop .logo img {
  height: 32px;
  margin-left: 24px;
}

nav {
  display: flex;
 }

nav li {
  display: inline-block;
  text-decoration-style: none;
}

li {
  margin: 16px;
}

nav a {
  text-decoration: none;
}
/* -------------header- mobile  ------------------*/
@media only screen and (max-width: 480px) {

  .header-deskop {
    display: none;
  }
  .header-mobile {
    height: 64px;
    width: 100%;
    background: white;
    display: inline-flex;
 }

 .header-mobile .logo img {
   display: flex;
   flex: 1;
}

}

/*-- end header-mobile --*/


.main-container {
  background-color: white;
  color: grey;
}

.main-container h2, .main-container h3 {
  color: black;
  font-weight: bold;
}

.information-1 h1 {
  color: black;
  font-weight: bold;
  font-size: 46px;
}

.banner {
background-color: lightgrey;
display: flex;
}

.banner-image {
  margin: 32px 24px;
  flex: 1;
}

 .banner-image img {
  width: 100%;
  height: auto;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.banner-start {
  padding: 8px 0;
  background-color: grey;
  width: 25%;
  text-align: center;
  color: white;
}

/*---------banner-mobile-----------*/

@media only screen and (max-width: 480px) {

.banner {
  display: flex;
  flex-direction: column;
  margin: 32px 16px;
}
}

/*--- end banner-mobile-----------*/
.information-2-1-pic-mobile, .information-2-2-pic-mobile, .information-2-3-pic-mobile {
  display: none;
}

.information {
  display: flex;
  background: white;
}

.information-1 {
  width: 60%;
  margin: 32px 24px;
}


.information-1 img {
  width: 100%;
  height: auto;
}

.information-2 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.information-2-deskop img {
  height: auto;
}

.information-2-1, .information-2-2, .information-2-3 {
display: flex;
}

.information-2-1-pic-deskop img, .information-2-2-pic-deskop img, .information-2-3-pic-deskop img {
  margin: 24px;
}

.information-2-1-text, .information-2-2-text, .information-2-3-text {
text-align: center;
width:
}

.information-2-3 {
  background-color: lightgrey;
}

/*---------information-mobile-----------*/

@media only screen and (max-width: 480px) {

.information-1 {
  display: none;
}
.information-2-1-pic-deskop, .information-2-2-pic-deskop, .information-2-3-pic-deskop {
  display: none;
}


.information-2 {
  width: 100%;
}


.information-2-1-pic-mobile, .information-2-2-pic-mobile, .information-2-3-pic-mobile {
  display: flex;
}

.information-2-1-pic-mobile img, .information-2-2-pic-mobile img, .information-2-3-pic-mobile img {
 flex: 1;
 width: 100%;
}


.information-2-1, .information-2-2, .information-2-3 {
display: flex;
flex-direction: column;
}

}

/*--- end information-mobile-----------*/
.course-mobile {
  display: none;
}

.course-deskop {
  margin: 32px 40px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: lightgrey;
}

.course-deskop h2 {
  margin: 0 auto;
  padding: 32px 0;
}

.course-ic {
  width: 28%;
  background-color: white;
  color: grey;
  display: inline-block;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
  margin: 32px;
}

.course-ic img {
  height: auto;
  width: 100%;
}

.course-ic p:nth-child(2) {
  margin-top: 16px;
  color: black;
  font-weight: bold;
}

.course-ic p:nth-child(3) {
  text-transform: uppercase;

}

.course-ic p {
  margin: 24px 16px;
}
 /* -- courses mobile -- */

@media only screen and (max-width: 480px) {

 .course-deskop {
   display: none;
 }
.course-mobile {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.course-mobile h2 {
  text-align: center;
  margin-top: 32px;
}

.course-mb {
  margin: 8px;
}


 .course-mb p {
   background-color: lightgrey;
   text-align: center;
  padding: 16px 16px 24px 16px;
  margin: 0;
 }

 }

/*-- end course mobile ---*/

.exhibit-menu h2 {
text-align: center;
margin: 32px;
}


.exhibit-container {
  background-color: white;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}




.exhibit-video {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 32px 24px 24px 24px;
  width: 60%;
}

.exhibit-info {
  display: flex;
  flex-direction: column;
  width: 40%;
}


.exhibit-info-1, .exhibit-info-2 {
  display: flex;
}

.exhibit-info-1 {
    background-color: lightgrey;
}

.exhibit-info-1-pic, .exhibit-info-2-pic {
  width: 35%;
  height: auto;
  margin: 16px;
}

.exhibit-info img {
  width: 100%;
  height: auto;
}

.exhibit-info-1-text, .exhibit-info-2-text {
  width: 65%;
}

/* ------------ exhibits - mobile --------*/
@media only screen and (max-width: 480px) {
  .exhibit-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .exhibit-menu h2 {
    text-align: center;
    margin: 32px 0 16px 0;
  }

.exhibit-info {
  display: none;
}
.exhbit-video-description {
  display: none;
}
.exhibit-video {
  margin: 0 auto;
  width: 100%;
}
}


/* ------------ exhibits - mobile - end --------*/

footer {
  display: inline-flex;
  width: 100%;
  background-color: white;
  color: grey;
}

.footer-text {
  display: flex;
  flex: 1;
  padding: 16px 24px;
}

nav {
  display: inline;
 }

 @media only screen and (max-width: 480px) {
nav {
  display: none;
}
}
